@model plusauth_dotnet6mvc_starter.Models.UserProfileViewModel
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>@ViewData["Title"] - plusauth_dotnet6mvc_starter</title>
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	</head>

	<body>
		<header>
			<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
				<div class="container-fluid">
					<a class="navbar-brand" href="/">Plusauth Starter</a>

					<ul class="nav navbar-nav navbar-right">
						@if (User.Identity != null && User.Identity.IsAuthenticated) {
						<li class="nav-item navbar-nav">
							<a class="nav-link" asp-controller="Home" asp-action="Profile"> Logged in as: @User.FindFirst("username").Value </a>
						</li>
						<a class="btn btn-link" asp-controller="Account" asp-action="Logout"> Logout </a>
						} else {
						<li class="nav-item navbar-nav">
							<a class="btn btn-link" asp-controller="Account" asp-action="Login"> Login </a>
						</li>
						}
					</ul>
				</div>
			</nav>
		</header>
		<div class="container">
			<main role="main" class="pb-3">@RenderBody()</main>
		</div>

		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
		@await RenderSectionAsync("Scripts", required: false)
	</body>
</html>
